<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script>
  $(document).ready(function() {
    $("#datepicker1").datepicker();
    $("#datepicker2").datepicker();
    $("#datepicker3").datepicker();
  });
  
  $(document).ready(function() {
  $('.input-daterange').each(function() {
	    $(this).datepicker('clearDates');
	});
  });
  </script>
</head>

<style>

#error{
	color:red;
}


</style>

<body>


  <div class="form">
    <form autocomplete="off" action="#" th:action="@{/newOrderSubmit}"  method="post"
					role="form" class="login-form" style="max-width:500px;">

      <a href="/AdminPage/"><img src="../images/logo.png" style="width: 100%;"/></a>
      
      <input type="text" th:value="${customer.identity}" name="identity" placeholder="identity"/>
      <!-- <input type="text" th:value="${product.name}" name="name"/>
      <input type="text" th:value="${product.quantity}" name="quantity"/> -->
      <input type="text" th:value="${order.rentSell}" name="rentSell" placeholder="rent or Sell?"/>
      <input type="text" th:value="${order.orderDate}" name="orderDate" id="datepicker3" placeholder="orderDate"/>
      <input type="text" th:value="${order.endDate}" name="endDate" id="datepicker2" placeholder="endDate"/>
      <input type="text" th:value="${order.shipmentDate}" name="shipmentDate" id="datepicker1" placeholder="shipmentDate"/>
      <input type="text" th:value="${driver.name}" name="name" placeholder="Driver Name"/>
      
      
       
      

      <button type="submit" style="font-size: 18px;"><i class="fa fa-shopping-bag" style="font-size:1.5em;" aria-hidden="true"></i>     Add Order !</button>
    <br><br><Strong><span style=" color: green;"  th:utext="${successMessage}"></i></span></Strong>
    <br><br><a href="/customers"><Strong><span style=" color: green;"  th:utext="${redirectMessage}"></i></span></Strong></a>
    </form>
  </div>
</body>
</html>
